<meta charset="utf-8" />
<title>{{ .Site.Title }}</title>
{{ with .Site.Params.description }}
<meta name="description" content="{{ . }}" />
{{ end }}
{{- with .Site.Author.Name }}
<meta name="author" content="{{ . }}"/>
{{- end }}

{{ template "_internal/opengraph.html" . }}

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}index.xml" title="{{ .Site.Title }}">

<link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/app.css">

<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<script src="{{ .Site.BaseURL }}js/bundle.js"></script>

{{ partial "google-analytics.html" . }}
